{% load static products %}
<div class="product" id="product-{{ product.id }}">
    <a href="{% url 'products:product-detail' product.id %}" class="p-img">
        <img src="http://{{ request.get_host }}{{ product.image.file.url }}" alt="">
    </a>
    <div class="p-text">
        <h3 class="p-title">
            <a href="{% url 'products:product-detail' product.id %}">{{ product.name }}</a>
        </h3>
        <p class="cost">
            {% if product.sale != 0 or product.sale %}
                <span>${{ product.get_sale }}</span>
                <span class="p-discount">${{ product.price_for_qty }}</span>
            {% else %}
                <span>${{ product.price_for_qty }}</span>
            {% endif %}
        </p>
        <ul class="rating">
            {{ product.rating_stars|safe }}
        </ul>
        <div class="add-to-card">
            <a href="javascript:void(0);" class="add-favourite"
            {% if user.is_authenticated %}onclick="add_to_favourite({{ product.id }})"{% else %}onclick="window.location.href='/account/login/'"{% endif %}>
                <i class="far fa-heart {% call_method product 'is_liked' product.id user.id as liked_product %} {% if liked_product %}fas liked{% endif %}" ></i>
            </a>
            {#            <a href="javascript:void(0);" class="add-card" onclick="addToCart({{ product.id }})">#}
            <a href="{% url 'products:product-detail' product.id %}" class="add-card">
                Read more..
            </a>
            <a href="#" class="open-product">
                <i class="far fa-heart"></i>
            </a>
        </div>
    </div>
</div>
