{% load static %}
<div class="product" id="product-{{ product.id }}">
    <a href="{% url 'products:product-detail' product.id %}" class="p-img">
        <img src="http://{{ request.get_host }}{{ product.image.file.url }}" alt="">
    </a>
    <div class="p-text">
        <h3 class="p-title">
            <a href="{% url 'products:product-detail' product.id %}">{{ product.name }}</a>
        </h3>
        <p class="cost">
            {% if product.sale != 0 or product.sale %}
                <span>${{ product.get_sale }}</span>
                <span class="p-discount">${{ product.price_for_qty }}</span>
            {% else %}
                <span>${{ product.price_for_qty }}</span>
            {% endif %}
        </p>
        <ul class="rating">
            {{ product.rating_stars|safe }}
        </ul>
        <div class="add-to-card">
            <a href="javascript:void(0);" class="add-favourite" onclick="add_to_favourite({{ product.id }})">
                <i class="far fa-heart"></i>
            </a>
            {#            <a href="javascript:void(0);" class="add-card" onclick="addToCart({{ product.id }})">#}
            <a href="{% url 'products:product-detail' product.id %}" class="add-card">
                Add card
            </a>
            <a href="#" class="open">
                <i class="far fa-heart"></i>
            </a>
        </div>
    </div>
</div>
