{% load static orders i18n %}

<header>
    <div class="top-header">
        <div class="container flex">
            <div class="th-left">
                <div class="language">
                    <i class="fas fa-globe"></i>
                    <form action="{% url 'set_language' %}" method="post" style="display: inline"
                          id="form-language">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select name="language" ng-model="vm.language" onchange="$('#form-language').submit()">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                        selected{% endif %}>
                                    {{ language.name_local|capfirst }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
            <div class="th-middle">
                <!-- <i class="fas fa-phone-alt"></i>  -->
                <a href="tel:+998 (97) 123 45 67">+998 (97) 123 45 67</a>
            </div>
            <div class="th-right flex">
                {% if not user.is_authenticated %}
                    <a href="{% url 'buyers:login_view' %}" class="login">
                        <i class="fas fa-user"></i>
                        <span>{% trans "Login" %}</span> /
                        <span>{% trans "Register" %}</span>
                    </a>
                {% else %}
                    <div class="dropdown">
                        <div class="dropbtn" onclick="myFunction()"><i class="fas fa-caret-down"></i>Account</div>
                        <div class="dropdown-content" id="myDropdown">
                            <a href="{% url 'buyers:account' %}"><i class="fas fa-user"></i>Profile</a>
                            <a href="{% url 'orders:orders-list' %}"><i class="fas fa-stream"></i>My orders</a>
                            <a href="{% url 'products:favourite-list' %}"><i class="fas fa-star"></i>Liked products</a>
                            <a href="{% url 'buyers:logout_view' %}"><i class="fas fa-sign-out-alt"></i>Log out</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container middle-header flex">
        <i class="fas fa-times header-close"></i>
        <div class="logo">
            <a href="{% url 'products:index-page' %}">
                <img src="{% static 'images/logo.png' %}" alt="">
            </a>
        </div>
        <form class="search" action="{% url 'site_pages:search' %}" method="get">
            <input type="text" placeholder="Search this site..." name="query">
            <button><i class="fas fa-search"></i></button>

        </form>
        <div class="cart">
            <a href="{% url 'orders:cart-list' %}">
                <i class="fas fa-shopping-card"></i>
                <span class="item">{% cart_length request.user.id %} item - </span>
                {% cart_sum request.user.id as cart_sum %}
                <span class="cost">${{ cart_sum }}</span>
            </a>
            {% if user.is_authenticated and cart_sum != 0 %}
                <div class="cart-modal" style="z-index: 30">
                    <div class="cart-modal-products">
                        <ul class="cart-modal-product" style="width: 100%; height: 300px; overflow: auto;">
                            {% carts request.user.id as carts %}
                            {% for cart in carts %}
                                <li class="flex">
                                    <div class="flex">
                                        <div class="cart-modal-img">
                                            <img src="http://{{ request.get_host }}{{ cart.image }}" alt="">
                                        </div>
                                        <div>
                                            <h6>{{ cart.name }}</h6>
                                            <ul class="rating">
                                                {{ cart.stars|safe }}
                                            </ul>
                                            <p>x{{ cart.total }} <span> ${{ cart.amount }}</span></p>
                                        </div>
                                    </div>
                                    {#                                <a href="#"><i class="far fa-times-circle"></i></a>#}
                                </li>
                            {% endfor %}
                        </ul>
                        <h2 class="flex">
                            <span>Total:</span>
                            <span>${% cart_sum request.user.id %}</span>
                        </h2>
                        <div class="cart-modal-buttons">
                            <a href="{% url 'orders:cart-list' %}">View cart</a>
                            <a href="{% url 'orders:order-checkout' %}">Checkout</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="bottom-header">
        <div class="container flex">
            <ul class="main-menu">
                <li><a href="{% url 'products:index-page' %}">{% trans 'Home' %}</a></li>
                <li><a href="{% url 'products:category-list' %}">{% trans 'Categories' %}</a></li>
                <li><a href="{% url 'site_pages:about' %}">{% trans 'About us' %}</a></li>
                <li><a href="{% url 'blogs:blog-list' %}">{% trans 'Blog' %}</a></li>
                <li><a href="{% url 'site_pages:contacts' %}">{% trans 'Contact us' %}</a></li>
            </ul>
            <ul class="socials">
                <li><a href="#"><img src="{% static '/images/instagram.svg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static '/images/vk.svg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static '/images/pinterest.svg' %}" alt=""></a></li>
                <li><a href="#"><img src="{% static '/images/facebook.svg' %}" alt=""></a></li>
            </ul>
        </div>
    </div>
</header>
<div class="mobile-header">
    <i class="fas fa-bars header-open"></i>
    <a href="#" class="logo">
        <img src="{% static 'images/logo.png' %}" alt=""/>
    </a>
    <a href="#">
        <i class="fas fa-shopping-cart"></i>
    </a>
</div>