{% extends 'base.html' %}
{% load static i18n path %}

{% block content %}

    <section class="page-login">
        <div class="container">
            <div class="login">
                <h1 class="login-title">
                    {% trans "Login" %}
                </h1>
                {% if form.errors %}
                    {% get_error form.errors as errors %}
                {% endif %}
                <span class="error-text">
                {% for error in errors %}
                    {{ error }}
                    <br>
                    <br>
                {% endfor %}
                </span>
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    {{ form.password }}
                    <div class="social-login">
                        <a href="{% url 'buyers:social:begin' 'google-oauth2' %}"><img
                                src="{% static 'images/google.png' %}" alt=""> Login with google</a>
                        <a href="{% url 'buyers:social:begin' 'facebook' %}"><img
                                src="{% static 'images/facebook.png' %}" alt=""> Login with facebook</a>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <button type="submit">Login</button>
                        <div>
                            <a href="{% url 'buyers:signup_view' %}" style="text-decoration:underline; color:#B86D56;">Sign
                                Up</a>
                            &nbsp;&nbsp;
                            <a href="{% url 'buyers:password_reset' %}"
                               style="text-decoration:underline; color:#B86D56;">Lost
                                your password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
