<nav class='animated bounceInDown'>
    <ul>
        {% for parent in parents %}
            <li class='sub-menu
            {% if parent.slug.lower == request.resolver_match.kwargs.slug|lower %}
            	active
            {% endif %}
            	 {% if forloop.counter == 1 and is_list %} active {% endif %}'>
                <a class="sub-menu-title" href="{% url 'products:category-detail' parent.slug %}">{{ parent.name }}
                    <i class="fas fa-chevron-right right"></i>
                </a>
                <ul>
                    {% for category in category_list %}
                        {% if category in parent.category_set.all %}
                            <li><a href="{% url 'products:category-detail' category.slug %}"
                                    {% if category.slug|lower == request.resolver_match.kwargs.slug|lower %}
                                   class="active"{% endif %}>{{ category.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</nav>
