<div class="item">
    <img src="http://{{ request.get_host }}/media/{{ slide_item.image.file }}" alt="">
    <div class="info">
        <p>
            <span class="discount">{{ slide_item.text_1 }}</span>
        </p>
        <h3>
            <span class="ts-title">{{ slide_item.text_2 }}</span>
        </h3>
        <p>
            <span class="category">{{ slide_item.text_3 }}</span>
        </p>
    </div>
    <div class="link">
        <a href="//{{ slide_item.link }}">
            Shop now
        </a>
    </div>
</div>
