{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% load path %}
    <section class="page-account">
        <div class="container">
            <ul class="page-account-menu">
                <li>
                    <a href="{% url 'buyers:account' %}" class="tablinks">Billing details
                    </a>
                </li>
                <li>
                    <a href="{% url 'buyers:account-details' %}" class="tablinks">Account details
                    </a>
                </li>
                <li>
                    <a href="{% url 'orders:orders-list' %}" class="tablinks active">Orders</a>
                </li>
            </ul>
            <div class="account-container">
                <div id="orders" class="tabcontent active">
                    <table>
                        <thead>
                        <th></th>
                        <th>Order Details</th>
                        <th>Order Date</th>
                        <th>TOTAL</th>
                        <th>Payment</th>
                        <th>Status</th>
                        </thead>
                        <tbody>
                        {% for order in order_list %}
                            <tr>
                                <td>
                                    {% if order.status == 'waiting' %}
                                        <a href="javascript:void(0);" onclick="removeOrder('{{ order.id }}')"><i class="far fa-times-circle"></i></a></td>
                                    {% endif %}
                                <td class="table-order-details">
                                    <ul>
                                        {% for product in order.products %}
                                            <li>
                                                <a href="{% url 'products:product-detail' product.product_id %}">{{ product.name }}</a>
{#                                                <span>${{ product.price }}</span>#}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td class="order-date">{{ order.date_of_creat|date:'d/m/Y' }}</td>
                                <td class="order-total">${{ order.price }}</td>
                                <td class="">{{ order.method_payment.name }}<br>
                                    {% if order.status == 'waiting' %}
                                        <button class="button is-primary" id="submitBtn"
                                                onclick="createCheckoutStripe('{{ order.id }}')">
                                            Purchase!
                                        </button>
                                    {% endif %}</td>
                                <td class="">{% if order.status == 'delivered' %} Dostavleno
                                {% elif order.status == 'cancelled' %} Otmeneno
                                {% elif order.status == 'waiting' %} Jdet
                                {% elif order.status == 'paid' %} Oplacheno
                                {% endif %} </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/ajax-queries.js'%}"></script>
    <script>
        console.log("Sanity check!");
        const language_code = window.location.pathname.split('/')[1]

        fetch("/stripe_config/")
            .then((result) => {
                return result.json();
            })
            .then((data) => {
                // Initialize Stripe.js
                const stripe = Stripe(data.publicKey);
                const url = `/${language_code}/create-checkout-session/`;
                createCheckoutStripe = function (order_id) {
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: {
                            order_id: order_id,
                        },
                        success: (data) => {
                            console.log(1234)
                            console.log(data)
                            return stripe.redirectToCheckout({sessionId: data.sessionId})
                        },
                        error: (err) => {
                            console.log(err)
                        },
                        dataType: 'json'
                    })
                }
            });
    </script>
{% endblock %}
